
SoundDemo/.idea/vcs.xml
GridLayoutDemo/.idea/vcs.xml
GridLayoutDemo/.idea/gradle.xml
DemoVideo/.idea/gradle.xml
Connect3Game/.idea/vcs.xml
Connect3Game/.idea/gradle.xml
parseproject/Parse-Server-Starter-Project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/javaCompile/javaCompile.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/javaCompile/classAnalysis.bin
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/fileHashes/fileHashes.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/fileHashes/fileHashes.bin
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/executionHistory/executionHistory.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/executionHistory/executionHistory.bin
parseproject/Parse-Server-Starter-Project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/javaCompile/javaCompile.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/javaCompile/classAnalysis.bin
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/fileHashes/fileHashes.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/fileHashes/fileHashes.bin
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/executionHistory/executionHistory.lock
parseproject/Parse-Server-Starter-Project/.gradle/5.4.1/executionHistory/executionHistory.bin
